

.container {
   width: 100%;
   display: flex;
   flex-direction: column;
   background: var(--card);
   margin-bottom: 8%;
}
.opacity{
   /* opacity: .7; */
   filter: grayscale(.5);
}
.image{
   background: var(--yellow);
   padding: 6% 10%;
   display: flex;
   justify-content: center;
   padding-bottom: 0;
   height: 100%;
}
.plates{
   padding: 0;
   margin: 0;
   width: 80%;
   height: 40%;
}

.details{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   margin-top: 4%;
   width: 100%;
   padding: 0 6%;
}
.details h3{
   font-size: 28px;
   line-height: 32px;
   font-weight: 600;
   margin: .5% 0;
   color: var(--heading);
}
.details p{
   text-align: left;
   color: var(--text);
   font-size: 16px;
   line-height: 26px;
   margin-bottom: 1%;
}
.details .price{
   color: var(--true);
   font-size: 24px;
   line-height: 34px;
}

.footer{
   display: flex;
   flex-direction: row;
   padding: 2% 5%;
   justify-content: space-between;
   background-color: var(--footer-card);
}

.footer .divbutton{
   display: flex;
   flex-direction: row;
   width: 30%;
   justify-content: space-evenly;
}
.divbutton button{
   background: var(--white);
   padding: 2% 4%;
   border: none;
   font-size: 1.2rem;
   cursor: pointer;
   transition: .2s filter;
}
.divbutton button:hover{
   filter: opacity(.6);
}
.divcheckbox{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
}

.divcheckbox input.disponivel[type = "checkbox"]{
   appearance: none;
   margin-left: 2%;
   position: relative;
   background: var(--true);
   outline: none;
   border-radius: 20px;
   box-shadow: inset 0 0 5px rgba(0,0,0, .2);
   width: 70px;
   height: 30px;
}
input.indisponivel[type = "checkbox"]{
   appearance: none;
   margin-left: 2%;  
   position: relative;
   background: var(--false);
   outline: none;
   border-radius: 20px;
   box-shadow: inset 0 0 5px rgba(0,0,0, .2);
   width: 70px;
   height: 30px;
}
.divcheckbox input[type = "checkbox"]::before{
   content : '';
   position: absolute;
   border-radius: 20px;
   background: var(--white);
   width : 35px;
   height: 30px;
   top: 0;
   left: 0;
   transform: scale(1.1);
   transition: .5s;
   box-shadow: 0px 2px 5px rgba(0,0,0, .2);
}
.divcheckbox input:checked[type = "checkbox"]::before{
   left: 33px;
}

@media(max-width: 500px){
   .footer{
      padding: 2%;
   }
}